<div id="about-page">
	<div class="heading blue"><div>About Studly</div></div>
	<p>Student life is filled with commitments and responsibilities that make time management an essential skill in order to succeed.</p><p> Struggling undergraduates often have multiple mechanisms in place just to keep track of their separate university requirements. This can include calendar apps, notebooks, post-it-notes, budget records, document folders and sprawling Excel documents, to name a few.</p><p>
	<strong>Studly</strong> is a web application for students of The University of Melbourne, targeted at mobile platforms that will make lecture attendance and note-taking an absolute breeze. The app is accessible from your smartphone, presenting a timetable of your lectures and tutorials for the semester and records which of them you have attended and taken notes for.
	</p>

	<div class="tagline">
		<p>Keeping track of lectures has never been this easy.</p>
		<a class="btn" href="/signup">Start Now</a>
	</div>
</div>