<navbar></navbar>
<div ng-init="init()" id="class-page">
	<div class="heading blue" >{{classInfo.name}}</div>

	<div id="extra-info" class="col-sm-4 col-xs-12">
		<div id="subject-information">
			<div class="subheading orange row">
				Subject Information <i class="fa fa-angle-right fa-lg"></i>
			</div>
		</div>
		<div id="directions">
			<div class="subheading orange row">
				Directions <i class="fa fa-angle-right fa-lg"></i>
			</div>
		</div>
		<div id="pre-requisites">
			<div class="subheading orange row">
				Pre-requisites <i class="fa fa-angle-right fa-lg"></i>
			</div>
		</div>
	</div>


	<div class="col-sm-8 col-xs-12">
		<div class="subheading orange row">Echo Recording ({{video.date}})</div>
		<div id="video">
			<div id="video-wrapper">
				<div id="video-container">
					<video src="{{video.url}}" type="video/mp4" width="100%" height="100%" controller="true" controls="true" autostart="false"/>
				</div>
			</div>
		</div>

		<div  class="subheading blue row">
			Threads
		</div>
		<div>
			<form ng-submit="addThread()">
				<div>
					<input placeholder="title" class="form-control" type="text" ng-model="title">
					<textarea placeholder="body" type="textarea" rows="4" class="form-control" ng-model="body"></textarea>
				</div>
				<div class="col-xs-4">
					<button class="form-control row" type="submit">Post</button>
				</div>
			</form>
		</div>
		<div class="threads row">
			<div class="col-xs-12 thread" ng-repeat="thread in threads track by $index">
				<div class="col-xs-2 votes">
					<a href="" ng-click="upvote(thread)"><span class="glyphicon glyphicon-arrow-up"></span></a>
					<div>{{thread.upVotes-thread.downVotes}}</div>
					<a href="" ng-click="downvote(thread)"><span class="glyphicon glyphicon-arrow-down"></span></a>
				</div>
				<div class="col-xs-10">
					<div ng-click="openComments(thread)" class="title">
						{{thread.title}}
					</div>
					<div class="bottom">
						<span><a href="">{{thread.username}}</a> <span class="timestamp">{{moment(thread.postTime).isValid()}}</span></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="modal" class="fade modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">{{thread.title}}</h4>
					<span>{{thread.user}} <span class="timestamp">{{thread.timestamp}}</span></span>
				</div>
				<div class="modal-body col-xs-12" ng-repeat="comment in thread.comments">
					<div class="username">
						{{comment.username}}
						<span class="timestamp">{{comment.timestamp}}</span>
					</div>
					<div class="body">
						{{comment.content}}
					</div>
				</div>
				<div class="modal-footer">
					<form ng-submit="addComment()">
						<div>
							<textarea placeholder="body" type="textarea" rows="4" class="form-control" ng-model="comment"></textarea>
						</div>
						<div class="col-xs-4">
							<button class="form-control row" type="submit">Post</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
