<navbar></navbar>
<div id="subject-page">
	<div id="main-header">
		<div class="col-xs-12">Manage your Enrolment</div>
	</div>
	<div class="col-xs-12">
		<div class="sub-header">Subject Name: ____ Subject ID: {{manageID}}</div>
		<div class="col-xs-12 col-sm-4">
			<b>Options</b>
			<hr>
			<ul>
				<a ng-click="" class="option"><li><div class="glyphicon glyphicon-plus"></div>Add the selected classes to your timetable</li></a>
				<a ng-click="" class="option"><li><div class="glyphicon glyphicon-repeat"></div>Reset your class selections for this subject</li></a>
				<a ng-click="" class="option"><li><div class="glyphicon glyphicon-trash"></div>Stop tracking this subject</li></a>
			</ul>
		</div>
		<p>A view of the timetable will go here.</p>
	</div>
</div>
