<navbar></navbar>
<div id="subjects-page">
  <div id="main-header">
    <div class="col-xs-12">My Subjects</div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="sub-header">Add a Subject</div>
        <form>
            <div class="row">
                <div id="search-box" class="col-xs-offset-1 col-xs-10">
                    <input class="form-control" type="search" ng-model="queryField" ng-change="querySubject()">
                </div>
            </div>
        </form>
    <div class="search-results">
      <div class="row col-xs-12" ng-repeat="subject in subjects | filter: query" ng-hide="subjects.length == 0 || queryField == ''">
        <a href=""><button class="subject-enrol btn-block" type="button">
          <div class="subject-instance col-xs-7" style="text-align: left;">
            {{subject.subjectName}}
          </div>
          <div class="subject-instance col-xs-5" style="text-align: right;">
            {{subject.subjectCode}}
          </div>
        </button></a>
      </div>
      <div class="row col-xs-12" ng-show="subjects.length == 0 || queryField == ''">
        No subject found...
      </div>
    </div>
    <br>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="sub-header">Current Subjects</div>
    <div ng-repeat="subject in enrolled track by $index">
      <div class="subject-edit" ng-style="{'border-left-color': colours[$index].name}">
        <div style="text-align: left; font-size: 1.4em; margin-top: 10px">
          {{subject.name}}
        </div>
        <div class="row" style="position: relative">
          <div class="col-xs-5">
            <div ng-style="{'color': colours[$index].name}" style="text-align: left; font-weight: bold">
                {{subject.code}}
            </div>
            <div style="text-align: left;">
                Semester {{subject.semester}}
             </div>
          </div>
          <div class="row col-xs-7">
            <a ng-href="subject"><button type="button" class="btn btn-primary subject-manage" ng-style="{'background-color': colours[$index].name}">
                Manage
            </button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>