<div ng-init="init()" id="subject-page">
	<div class="heading blue">
		<div class="col-xs-12">Manage your Enrolment</div>
	</div>
	<div class="col-xs-12">
		<div class="sub-header">{{subjectName}} --- Semester {{semesterID}}</div>
		<div class="col-xs-12 col-sm-4">
			<b>Options</b>
			<hr>
			<ul>
				<a ng-click="enrol()" onclick="alert('Successfully enrolled into these classes.')" class="option"><li><div class="glyphicon glyphicon-edit"></div>Add the selected classes to your timetable</li></a>
				<a ng-click="clearClasses()" class="option"><li><div class="glyphicon glyphicon-repeat"></div>Reset your class selections for this subject</li></a>
				<a ng-click="withdraw()" onclick="alert('Successfully withdrawn from this subject.')" ng-href="/subjects" class="option"><li><div class="glyphicon glyphicon-trash"></div>Withdraw from this subject</li></a>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-8" ng-repeat="_class in classList">
			<div ng-repeat="classInstance in _class.classTimes">
		        <a ng-click="addClass(classInstance)"><button class="class-instance left" type="button">
		        	<div>
		        		<b>Type:</b> {{_class.sort}}
		        	</div>
		        	<div>
		        		<b>Length:</b> {{_class.duration}} hour(s)
		        	</div>
					<div>
						<b>Day:</b> {{days[classInstance.day]}}
					</div>
					<div>
						<b>Start Time:</b> <i>{{classInstance.time}}</i>
					</div>
					<div>
						<b>Building:</b> {{classInstance.sisBuildingName}}
					</div>
					<div>
						<b>Room Name/Number:</b> {{classInstance.roomNumber}}
					</div>
		        </button></a>
		    </div>
		</div>
	</div>
</div>