<navbar></navbar>
<div id="subjects.page">
	<div>
		&nbsp;
	</div>

	<div class="col-xs-12">
		<h4><em><b>Search for a subject</b></em></h4>
	</div>

	<div class="row col-xs-12 col-xs-offset-0 col-sm-3">
 		<form class="form-horizontal">
    		<fieldset>
    			<div class="row">
      			<div class="form-group">
        			<div class="col-xs-10">
          			<input type="text" class="form-control" id="inputSubject" placeholder="Subject Code">
        			</div>
        			<div class="button-wrapper(10)">
        				<div class="col-xs-2">
          				<a href=""><button type="submit" class="btn btn-primary" ng-click="userAlert()">
          					<span class="glyphicon glyphicon-search"></span>
          				</button></a>
          			</div>
        			</div>
      			</div>
      		</div>
    		</fieldset>
  		</form>
	</div>
	<div class="col-xs-12 col-sm-7 col-sm-offset-2">
<!-- 		<div class="subjects">
			<div ng-repeat="item in subjects track by $index">
				{{item.name}}
				{{item.code}}
				{{$index}}
			</div>
		</div> -->
		<table class="table">
			<caption style="font-weight:bold;text-align:left">Currently enrolled subjects</caption>
			<tr>
				<td>COMP30050</td>
				<td>Artificial Intelligence</td>
				<td>
					<a href=""><button type="submit" class="btn btn-primary">
						Edit this subject.
          </button></a>
        </td>
			</tr>
			<tr>
				<td>COMP30026</td>
				<td>Software Systems</td>
				<td>
					<a href=""><button type="submit" class="btn btn-primary">
						Edit this subject.
          </button></a>
        </td>
			</tr>
			<tr>
				<td>UNIB20007</td>
				<td>Logic and Philosophy</td>
				<td>
					<a href=""><button type="submit" class="btn btn-primary">
						Edit this subject.
          </button></a>
        </td>
			</tr>
		</table>
	</div>
</div>