<div id="timetable-page">

	<div id="extra-info" class="col-sm-4 col-xs-12">
		<div class="heading blue-dark row">To Do</div>

		<!-- Start subjects list -->
		<div ng-repeat="subject in subjects | orderBy:'subject.name'">
			<div class="subjectHeading {{subject.color}} row">{{subject.name}}</div>

			<div ng-repeat="class in subject.classes">
				<div class="subjectSubHeading white row">
					<div class="col-md-10">
						<i class="fa fa-circle {{subject.color}}Dot"></i> <span class="timeLabel">{{formatDay(class.day)}}</span> {{class.type}}
					</div>
					<div class="col-md-2">
						<span class="timeLabel">{{formatTime(class.time)}}</span>
					</div>
				</div>
			</div>
		</div>
		<!-- End subjects list -->
	</div>

	<div class="col-sm-8 col-xs-12">
		<div class="heading blue-dark row">
			<i class="fa fa-angle-left"></i>
			 Week 8 <span class="weekLabel">(8 Mar - 15 Mar)</span> 
			<i class="fa fa-angle-right"></i>
		</div>
		<div class="subjectHeading blue-lighter row">
			<div class="arrow col-md-1">
				<i class="fa fa-chevron-left span1"></i>
			</div>
			<div class="day col-md-2 blue-dark">
				Monday
			</div>
			<div class="day col-md-2">
				Tuesday
			</div>
			<div class="day col-md-2">
				Wednesday
			</div>
			<div class="day col-md-2">
				Thursday
			</div>
			<div class="day col-md-2">
				Friday
			</div>
			<div class="arrow col-md-1">
				<i class="fa fa-chevron-right span1"></i>
			</div>
		</div>

		<div class="timetable row">
			<div class="col-md-1">
				<span class="time">8:00</span>
			</div>
			<div class="class orangeLabel col-md-2">
				Web Info Technologies
			</div>
			<div class="col-md-2">
				
			</div>
			<div class="col-md-2">
				
			</div>
			<div class="col-md-2">
				
			</div>
			<div class="col-md-2">
				
			</div>
			<div class="col-md-1">
				
			</div>
		</div>

		<div class="timetable row">
			<div class="col-md-1">
				<span class="time">9:00</span>
			</div>
			<div class="col-md-2">
				
			</div>
			<div class="col-md-2">
				
			</div>
			<div class="class blueLabel col-md-2">
				Advanced Signal Processing
			</div>
			<div class="col-md-2">
				
			</div>
			<div class="col-md-2">
				
			</div>
			<div class="col-md-1">
				
			</div>
		</div>

		<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	</div>
</div>
