<navbar></navbar>

<div id="timetable-page">

	<div id="extra-info" class="col-sm-4 col-xs-12">
		<div class="heading blue-dark row">To do</div>

		<!-- Start subjects list -->
		<div ng-show="errorStatus">
			<div class="subjectSubHeading white row" ng-click="updateSql()"><i>Error fetching data. Click to retry.</i></div>
		</div>
		<div ng-hide="errorStatus">
			<div ng-show="loading">
				<div class="subjectSubHeading white row"><i>Loading...</i></div>
			</div>

			<div ng-hide="loading">
				<div ng-if="(subjs.length == 0)">
					<div class="subjectSubHeading white row"><a href="/subjects">Click here</a> to add subjects.</div>
				</div>

				<div ng-repeat="subject in subjs | orderBy:'subject.subjectName'">
					<div class="subjectHeading blue-light row">{{subject.subjectName}}</div>

					<div ng-repeat="class in subject.classes">
						<div class="subjectSubHeading white row" ng-click="toggleMark(class.weeklyClassID)">
							<div class="col-md-12">
								<i class="fa fa-circle blue-lightDot"></i> <span class="timeLabel">{{formatDay(class.day)}}</span> {{class.sort}}
								<span class="timeRightLabel">{{formatTime(class.time)}} <img ng-show="class.attended" src="images/tick.png" width="16px" height="16px"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End subjects list -->
	</div>

	<!-- Start timetable -->
	<div class="col-sm-8 hidden-xs">
		<!-- Start header showing current week -->
		<div class="heading blue-dark row">
			<!-- <i class="fa fa-angle-left"></i> -->
			Week {{atualWeekDay}} <span class="weekLabel">({{firstDayOfWeek()}} - {{lastDayOfWeek()}})</span> 
			<!-- <i class="fa fa-angle-right"></i> -->
		</div>
		<!-- End header showing current week -->

		<!-- Start topbar showing days of the week -->
		<div class="subjectHeading blue-lighter row">
			<div class="arrow col-sm-1" ng-click="goPrev()">
				<i class="fa fa-chevron-left span1"></i>
			</div>

			<div ng-repeat="day in weekDays">
				<div class="day col-sm-2 col-xs-1" ng-class="{'blue-dark' : day==getDayName()}">
				{{day}}
				</div>
			</div>

			<div class="arrow col-sm-1" ng-click="goNext()">
				<i class="fa fa-chevron-right span1"></i>
			</div>
		</div>
		<!-- End topbar showing days of the week -->

		<!-- Start timetable row for for each hour -->
		<div ng-show="errorStatus" ng-click="updateSql()">
			<br/><center><i><i>Error fetching data. Click to retry.</i></center>
		</div>
		<div ng-hide="errorStatus">
			<div ng-show="loading">
			<br/><center><i>Loading...</i></center>
			</div>
			<div ng-hide="loading">
				<div ng-repeat="t in [800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800,1900,2000,2100]">
					<div class="timetable row">
						<div class="col-sm-1">
							<span class="time">{{formatTime(t)}}</span>
						</div>

						<!-- Start column for each day of the week -->
						<div ng-repeat="d in [1,2,3,4,5]">
							<div class="class col-sm-2 col-xs-1" ng-class="{'blue-lighter' : getDayNumber()==d}">
								<div ng-repeat="subject in subjs">
									<div ng-repeat="class in subject.classes | filter: { day: d }">
										<div ng-if="getPlainTime(class.time) >= t && getPlainTime(class.time) < t+class.duration*100">
											<a ng-click="goToClass(class.weeklyClassID)"> 
											<b><i>{{class.sort.substr(0,3)}}</i></b> {{subject.subjectName}}<br/>
											<span class="locationFont">{{class.sisBuildingName}} {{class.roomNumber}}</span>
											<div ng-show="class.attended">
												<img src="images/tick.png" width="16px" height="16px">
											</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End column for each day of the week -->

						<!-- Start next week arrow placeholder -->
						<div class="col-sm-1">
						</div>
						<!-- End placeholder -->
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End timetable row for for each hour -->
		<br/><br/><br/>
	</div>
	<!-- End timetable -->
</div>
