$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'theme/theme';

#class-page {
	div {
		padding: 0 0;
	}
	#video {
		// margin-top: 0 !important;
	}
	#video-wrapper {
		display: inline-block;
    	position: relative;
    	width: 100%;
	}
	#video-wrapper:after {
		padding-top: 56.25%; /*16:9 ratio*/
		display: block;
		content: '';
	}
	#video-container {
		position: absolute;
		top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
		background-color: $brand-primary;
		iframe {
			height: 100%;
			width: 100%;
		}
		
	}
	#video-extras{
		text-align: center;
		border-bottom: thin solid $gray-dark;
		margin-bottom: $padding-base-vertical;
		a:first-child {
			float: left;
		}
		a {
			color: $gray-dark;
		}
		a:hover {
			text-decoration: underline;
		}
		a:last-child {
			float: right;
		}	

	}
	#video-slides {
		


	}
	.thread {
		background-color: $gray-lighter;
		padding: $padding-base-vertical $padding-base-horizontal;
		.votes {
			text-align: center;
			a {
				font-size: $font-size-large;
			}
			a:first-child span {
				color: $brand-primary;
			}
			a:last-child span {
				color: $brand-warning;
			}
			
		}
		.title {
			text-align: justify;
			font-size: $font-size-large;
			a:last-child {
				float: right;
			}
		}
		.comment {
			font-size: $font-size-large;
			color: $brand-info;
			text-align: right;
		}
		.body {
			text-align: justify;
		}
		.bottom {
			a {
				color: $gray-dark;
			}
			a:hover {
				text-decoration: underline;
			}
			span {
				float: right;
			}

		}
		> div:last-child {
			border-bottom: thin solid $gray;
		}
	}
}


@media all and (min-width: $screen-md-min) {
	#class-page {
		#video {
			margin-top: 0;
		}
		#video-wrapper {
			margin: 0 0;
		}

	}

	.threads {
	}

}