@import 'theme/theme';


#class-page {

	.heading, #name {
		padding-left: $padding-base-horizontal;
		border-bottom: thin solid $gray-lighter;
	}
	#name {
		background-color: $blue;
		font-size: $font-size-large;
		color: white;

	}

	#subject-information {

	}
	#extra-info {
		background-color: $gray-lighter;
		min-height: 100%;
		border-right: thin solid $gray-lighter;

	}
	.heading {
		background-color: $orange;;
		color: white;
	}
	#video {
		margin-top: $padding-base-vertical !important;
	}
	#video-wrapper {
		display: inline-block;
    	position: relative;
    	width: 100%;
	}
	#video-wrapper:after {
		padding-top: 75%;
		display: block;
		content: '';
	}
	#video-container {
		position: absolute;
		top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
		background-color: $brand-primary;
		video {
			height: 100%;
			width: 100%;
		}
	}
	#video-extras{
		text-align: center;
		border-bottom: thin solid $gray-dark;
		margin-bottom: $padding-base-vertical;
		a:first-child {
			float: left;
		}
		a {
			color: $gray-dark;
		}
		a:hover {
			text-decoration: underline;
		}
		a:last-child {
			float: right;
		}

	}
	#video-slides {



	}
	.votes {
		text-align: center;
		a {
			font-size: $font-size-large;
			color: $gray;
		}
		a:first-child:active span {
			color: $brand-warning;
		}
		a:last-child:active span {
			color: $brand-primary;
		}

	}
	#threads-heading {
		background-color: $blue;
	}
	.thread {

		.title {
			text-align: justify;
			font-size: $font-size-large;
			a:last-child {
				float: right;
			}
		}
		.comment {
			font-size: $font-size-large;
			color: $brand-info;
			text-align: right;
		}
		.body {
			text-align: justify;
		}
		.bottom {
			margin-bottom: $padding-base-vertical;
			a {
				color: $gray-dark;
			}
			a:hover {
				text-decoration: underline;
			}
		}
	}
	.timestamp {
		color: $gray-light;
		font-size: $font-size-small;
	}

	#modal {
		.username {
			font-size: $font-size-large;
		}
		.body {
			text-align: justify;
		}

	}
}


@media all and (min-width: $screen-md-min) {
	#class-page {
		#video {
			margin-top: 0;
		}
		#video-wrapper {
			margin: 0 0;
		}

	}

	.threads {
		padding: 0 0;
	}

}