@import 'theme/theme';

#calendar {
    width: 100%;
    background-color: #FFF;
    overflow: auto;
    height: 65px;
    white-space: nowrap;
}

.contents {
    border-color: #ccc;
    border: 1px;
    border-top: 2px;
    padding-top: 2px;
    width: 38px;
    height: 45px;
    display: inline-block;
}

.contentLabel {
    width: 100%;
    padding-top: 3px;
    text-align: center;
    position: relative;
    font-weight: normal;
    font-size: 9px;
}

.contentNumber {
    width: 35px;
    padding-top: 2px;
    font-weight: bold;
    text-align: center;
    position: relative;
    font-size: 18px;
}

#day {
    background-color:#FFF;
    color: black;
}

#today {
    background-color:#468CC8;
    color: white;
}

#weekend {
    background-color:#ccc;
}

#timeBar{
    border-bottom: 1px grey dotted;
    overflow:visible;
    height:12px;
    margin: 5px 0 10px 0;
}
#timeBar span{
    color: grey;
    font-weight: bold;
    font-size: 10px;
    background-color: white;
    padding: 0 5px;
}