<div id="class-page">
	<div id="video" class="col-xs-12 col-md-7">
		<div id="video-wrapper">
			<div id="video-container">
				<iframe src="//www.youtube.com/embed/QH2-TGUlwu4" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div id="video-extras">
				<a href="">Share<span class="glyphicon glyphicon-share-alt"></span></a>
				<a href="">Slides</a>
				<a href="">Download <span class="glyphicon glyphicon-download"></span></a>
		</div>
		<div id="video-slides">
			<div class="col-xs-1">
				<a ng-click="prevSlide()"><span class="glyphicon glyphicon-chevron-left"></span></a>
			</div>
			<div class="col-xs-10">
				<div class="col-xs-3" ng-repeat="slide in slides">
					<a href="">
						{{video.slides[slide].id}}
					</a>
				</div>
			</div>
			<div class="col-xs-1">
				<a ng-click="nextSlide()"><span class="col-xs-1 glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-5 threads">
		<div class="col-xs-12 thread" ng-repeat="thread in threads track by $index">
			<div class="col-xs-2 votes">
				<a href="" ng-click="upvote(thread.id)"><span class="glyphicon glyphicon-arrow-up"></span></a>
				<div>{{thread.count.up-thread.count.down}}</div>
				<a href="" ng-click="downvote(thread.id)"><span class="glyphicon glyphicon-arrow-down"></span></a>
			</div>
			<div class="col-xs-10">
				<div class="title">
					{{thread.title}}
				</div>
			</div>
			<div class="col-xs-12">
				<div class="body">
					{{thread.body}}
				</div>
				<div class="bottom">
					<a href="">{{thread.user}}</a>
					<a href="" ng-click="expression"><span class="glyphicon glyphicon-comment"></span></a>
				</div>
			</div>

			<!-- Button trigger modal -->
			<button class="btn btn-primary btn-lg" >
			  Launch demo modal
			</button>

			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Save changes</button>
			      </div>
			    </div>
			  </div>
			</div>

			
		</div>
	</div>		
</div>
