<div class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Studly</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a>Profile</a></li>
        <li><a>Subjects</a></li>
        <li><a>Timetable</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
        <li id="get-the-app"><a href="">Get the App</a></li>
      </ul>
    </div>
  </div>
</div>