<div id="subjects-page">
	<div>
		&nbsp;
	</div>

	<div style="background-color: gray-lighter;">
		<div id="search-box" class="col-xs-12 col-sm-6">
			<h4><em><b>Search for a subject</b></em></h4>
	 		<form>
	    	<div class="row">
	        <div class="col-xs-10 col-sm-10">
	          <input class="form-control" type="search" placeholder="Subject Code" autocomplete="on" ng-model="query">
	        </div>
	     		<div class="col-xs-1 col-sm-1">
	        	<a href="">
	        		<button type="submit" class="btn btn-primary" ng-click="userAlert()">
	        			<span class="glyphicon glyphicon-search"></span>
	        		</button>
	        	</a>
	       	</div>
	      </div>
	  	</form>
	  	<div id="search-results" ng-style="search-results">
	  		<div class="animate-repeat row col-xs-12" ng-repeat="subject in subjects | filter: query">
					<a href=""><button class="subject-enrol btn-block" type="button">
						<div class="subject-instance col-xs-7" style="text-align: left;">
							{{subject.name}}
						</div>
						<div class="subject-instance col-xs-5" style="text-align: right;">
							{{subject.code}}
						</div>
					</button></a>
				</div>
			</div>
			<br>
		</div>

		<div class="col-xs-12 col-sm-5 col-sm-offset-1">
			<span class="caption">Currently enrolled</span>
			<hr>
			<div class="row col-xs-12" ng-repeat="subject in enrolled track by $index">
				<a href=""><button class="subject-edit btn-block" type="button">
					<div class="subject-instance col-xs-7" style="text-align: left;">
						{{subject.name}}
					</div>
					<div class="subject-instance col-xs-5" style="text-align: right;">
						{{subject.code}}
					</div>
				</button></a>
			</div>
		</div>
	</div>

</div>