<div id="calendar">
    <div class="contents" id="today">
    	<div class="contentLabel">Mon</div>
    	<div class="contentNumber">13</div>
    </div>
    <div class="contents" id="day">
    	<div class="contentLabel">Tue</div>
    	<div class="contentNumber">14</div>
    </div>
    <div class="contents" id="day">
    	<div class="contentLabel">Wed</div>
    	<div class="contentNumber">15</div>
    </div>
    <div class="contents" id="day">
    	<div class="contentLabel">Thu</div>
    	<div class="contentNumber">16</div>
    </div>
    <div class="contents" id="day">
    	<div class="contentLabel">Fri</div>
    	<div class="contentNumber">17</div>
    </div>
    <div class="contents" id="day">
    	<div class="contentLabel">Sat</div>
    	<div class="contentNumber">18</div>
    </div>
    <div class="contents" id="weekend">
    	<div class="contentLabel">Sun</div>
    	<div class="contentNumber">19</div>
    </div>
       <div class="contents" id="day">
    	<div class="contentLabel">Mon</div>
    	<div class="contentNumber">13</div>
    </div>
    <div class="contents" id="day">
    	<div class="contentLabel">Tue</div>
    	<div class="contentNumber">14</div>
    </div>
    <div class="contents" id="day">
    	<div class="contentLabel">Wed</div>
    	<div class="contentNumber">15</div>
    </div>
    <div class="contents" id="day">
    	<div class="contentLabel">Thu</div>
    	<div class="contentNumber">16</div>
    </div>
    <div class="contents" id="day">
    	<div class="contentLabel">Fri</div>
    	<div class="contentNumber">17</div>
    </div>
    <div class="contents" id="day">
    	<div class="contentLabel">Sat</div>
    	<div class="contentNumber">18</div>
    </div>
    <div class="contents" id="weekend">
    	<div class="contentLabel">Sun</div>
    	<div class="contentNumber">19</div>
    </div>
</div>

<div id="timeBar">
    <span>10:00 AM</span>
</div>

<div class="list-group">
  <a class="list-group-item active" onclick="$('.option').toggle();">
    COMP30050 Artificial Inteligence<br/>
    <font size="1">Doug McDonell Building - Steve Howard Theatre</font>
  </a>
  <a href="#" class="option list-group-item"><span class="glyphicon glyphicon-ok"></span><span style="padding-left:15px;">Mark as attended</span></a>
  <a href="#" class="option list-group-item"><span class="glyphicon glyphicon-pushpin"></span><span style="padding-left:15px;">Get Directions</span></a>
  <a href="#" class="option list-group-item"><span class="glyphicon glyphicon-pencil"></span><span style="padding-left:15px;">Notes</span></a>
  <a href="#" class="option list-group-item"><span class="glyphicon glyphicon-facetime-video"></span><span style="padding-left:15px;">Lecture Recordings</span></a>
</div>

<div id="timeBar">
    <span>11:00 AM</span>
</div>

</br><p><center><h5>3 hours of free time.</h5></center></p></br>

<div id="timeBar">
    <span>02:00 PM</span>
</div>

<div class="list-group">
  <a class="list-group-item active" onclick="$('.option2').toggle();">
    COMP40004 Usability Engineering<br/>
    <font size="1">Doug McDonell Building - Denis Discroll Theatre</font>
  </a>
  <a href="#" class="option2 list-group-item"><span class="glyphicon glyphicon-ok"></span><span style="padding-left:15px;">Mark as attended</span></a>
  <a href="#" class="option2 list-group-item"><span class="glyphicon glyphicon-pushpin"></span><span style="padding-left:15px;">Get Directions</span></a>
  <a href="#" class="option2 list-group-item"><span class="glyphicon glyphicon-pencil"></span><span style="padding-left:15px;">Notes</span></a>
  <a href="#" class="option2 list-group-item"><span class="glyphicon glyphicon-facetime-video"></span><span style="padding-left:15px;">Lecture Recordings</span></a>
</div>

</div>