<!-- Start timetable page -->
<div id="timetable-page">

	<!-- Start calendar -->
	<div class="row">
		<div class="col-xs-1">
			<div id="monthLabel">
				APR
			</div>
		</div>
		<div class="col-xs-11">
	  			<div id="calendar">
					<div class="contents" id="{{checkDayType(date)}}" ng-repeat="date in dates track by $index">
					    <div class="contentLabel">{{date | date:'EEE'}}</div>
					    <div class="contentNumber">{{date.getDate()}}</div>    
					</div>
				</div>
		</div>
	</div>
	<!-- End calendar -->

	<!-- Start day coloumn -->
	<div ng-repeat="subject in subjects | orderBy:'class[0].time'">
		<!-- Time formatting needed -->
		<div id="timeBar">
		    <span>{{formatTime(subject.class[0].time)}}</span>
		</div>

		<div class="list-group">
			<!-- Needs a unique id for each subject to toggle options individualy -->
			<a class="list-group-item active" ng-click="toggleCustom()">
			    {{subject.code}} - {{subject.name}}<br/>
			    <font size="1px">{{subject.class[0].building}} - {{subject.class[0].theatre}}</font>
			</a>
			<div ng-hide="custom">
				<a href="#" class="list-group-item">
					<span class="glyphicon glyphicon-ok"></span>
					<span style="padding-left:15px;">Mark as attended</span>
				</a>
				<a href="#" class="list-group-item">
					<span class="glyphicon glyphicon-pushpin"></span>
					<span style="padding-left:15px;">Get Directions</span>
				</a>
				<a href="#" class="list-group-item">
					<span class="glyphicon glyphicon-pencil"></span>
					<span style="padding-left:15px;">Notes</span>
				</a>
				<a href="#/class" class="list-group-item">
					<span class="glyphicon glyphicon-facetime-video"></span>
					<span style="padding-left:15px;">Lecture Recordings</span>
				</a>
			</div>
		</div>

		<div id="timeBar">
		    <span>{{formatTime(subject.class[0].end)}}</span>
		</div>

		<!-- Needs some way to calculate free time -->
		<div class="freeTime">
			Yaaay some free time!
		</div>

	</div>
	<!-- End day coloumn -->
	
</div>
<!-- End timetable page -->
