#footer {
    height: $heading-height;
    background-color: $blue;
    a {
        color: white;
    }
    div {
        margin: 0 auto;
    }
    a:hover {
        color: $orange;
        background-color: $blue;
    }
}
.bold {
    font-weight: bold;
}

.heading, .subheading {
    padding-left: $padding-base-horizontal;
}
.heading {
    height: $heading-height;
    line-height: $heading-height;
    color: white;
    padding-left: 10px;
    font-weight: bold;
    vertical-align: middle;
    border-top: 3px solid $blue-light;
    font-size: $font-size-h3;

}
.subheading {
    height: $subheading-height;
    color: white;
    border-bottom: thin solid $gray-lighter;
}
.blue {
    background-color: $blue;
}
.orange {
    background-color: $orange;
}

@media all and (min-width: $screen-sm-min) {
    .navbar {
        background-color: #fff;
        border: none;
    }
    .nav-main {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}