#subjects-page {
  min-width:  $screen-xs;

  .sub-header {
    color: white;
    background-color: $light-blue;
    font-size: $font-size-h4;
    height: 30px;
    padding-left: 20px;
    padding-top: 2px;
  }

  .subject-instance {
    postion: relative;
    font-size: small;
  }

  #search-box {
    padding: 10px 0px;
  }

  .search-results {
    overflow-y: auto;
    max-height: 125px;
  }

  @media only screen and (min-width: $screen-sm) {
    .search-results {
      overflow-y: auto;
      max-height: 400px;
    }
  }

  .subject-edit {
    text-indent: 10px;
    color: black;
    background-color: white;
    box-shadow: none;
    height: 80px;
    line-height: 150%;
    width: 100%;
    border: 1px solid gray;
    border-left: 5px solid;
    position: relative;
  }

  .subject-manage {
    float: right;
    margin-right: 0px;
  }

  .subject-enrol {
    background-color: lighten(#000, 80%);
    text-indent: 0px;
    display: list-item;
    color: black;
    font-family: Arial;
    border: 0px;
    line-height: 33px;
    width: 100%;
    margin-left: 12px;
    margin-top: 8px;
  }

  .subject-enrol:hover {
    background-color: $lightest-blue;
  }

  .left {
  	text-align: left;
  }

  .right {
  	text-align: right;
  }
}