#subject-page {
  min-width: $screen-xs;

  .sub-header {
    color: white;
    background-color: $light-blue;
    font-size: $font-size-h4;
    height: 30px;
    padding-left: 20px;
    padding-top: 2px;
  }

  ul {
    list-style: none;
    font-style: italic;
    padding-left: 20px;
  }

  hr {
    border: 1px solid black;
    width: 100%;
    float: left;
    margin: 1px 0px;
  }

  .option:hover {
    cursor: pointer;
  }

  .class-instance {
    background-color: lighten(#000, 80%);
    text-indent: 0px;
    display: list-item;
    color: black;
    font-family: Arial;
    border: 0px;
    line-height: 33px;
    width: 100%;
    margin-left: 12px;
    margin-top: 8px;
  }
  .class-instance:visited {
    background-color: lighten($green, 80%);
  }

  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }
}