#subjects-page {
  min-width: 300px;

  #main-header {
    color: white;
    text-align: center;
    background-color: $blue;
    font-size: 1.8em;
    height: 50px;
    padding: 10px 0px;
  }

  .sub-header {
    color: white;
    background-color: $light-blue;
    font-size: 1.3em;
    height: 40px;
    padding: 10px 10px;
  }

  .subject-instance {
    postion: relative;
    font-size: small;
  }

  #search-box {
    padding: 10px 0px;
  }

  .search-results {
    overflow-y: auto;
    max-height: 125px;
  }

  @media only screen and (min-width: $screen-sm) {
    .search-results {
      overflow-y: auto;
      max-height: 400px;
    }
  }

  .subject-edit {
    text-indent: 10px;
    color: black;
    background-color: white;
    box-shadow: none;
    height: 80px;
    line-height: 150%;
    width: 100%;
    border: 1px solid gray;
    border-left: 5px solid;
    position: relative;
  }

  .subject-manage {
    float: right;
    margin-right: 0px;
  }

  .subject-enrol {
    background-color: $gray-lighter;
    text-indent: 0px;
    display: list-item;
    color: black;
    font-family: Arial;
    height: 33px;
    border: 0px;
    line-height: 33px;
    width: 100%;
    margin-left: 12px;
    margin-top: 8px;
  }

  .subject-enrol:hover {
    background-color: $lightest-blue;
  }
}