#timetable-page {
	#extra-info {
		display: table-cell;
		background-color: $gray-lighter;
		border-right: thin solid $gray-lighter;
	}

	.subjectHeading {
	    height: $subheading-height;
	    line-height: $subheading-height;
	    vertical-align: middle;
	    color: white;
	    font-weight: bold;
	    padding-left: 10px;
	    border-bottom: thin solid $gray-lighter;
	}

	.subjectSubHeading {
	    height: $subheading-height;
	    line-height: $subheading-height;
	    vertical-align: middle;
	    color: $gray;
	    font-weight: bold;
	    padding-left: 10px;
	    border-bottom: thin solid $gray-lighter;
	    position: relative;
	}

	.timeRightLabel {
		position: absolute;
    	top: 0px;
    	right: 5px;
	}

	.timetable {
		padding-left: 10px;
	}

	.timetable.row {
		border-right: thin solid $gray-lighter;
		border-bottom: thin solid $gray-lighter;
	}

	.time {
		color: $gray-light;
		font-size: $font-size-small;
	}

	.class {
		font-size: $font-size-small;
		position: relative;
	}

	.class img {
		position: absolute;
    	top: 0px;
    	right: 5px;
	}

	.blueLabel {
		border-left: 3px solid $blue-light;
	}

	.blueLabel:hover {
		color: #FFFFFF;
		background-color: $blue-lighter;
	}

	.orangeLabel {
		border-left: 3px solid $orange;
	}

	.orangeLabel:hover {
		background-color: $blue-lighter;
	}

	.day {
		text-align: center;
	}

	@media screen and (max-width: $screen-md-min) {
	    .day {
	        font-size: $font-size-small;
	    }
	    .class {
			font-size: $font-size-micro;
		}
	}

	.locationFont {
		font-size: $font-size-small;
		color: $gray-light;
	}

	.arrow {
		text-align: center;
	}

	.arrow:hover {
		color: $blue-dark;
	}

	.timeLabel {
		color: $gray-light;
		font-size: $font-size-small;
		padding-left: 4px;
		padding-right: 10px;
	}

	.todayTimetable {
		color: #FFFFFF;
		font-weight: bold;
    	background-color: $blue-lighter;
	}

	.weekLabel {
		font-size: $font-size-base;
	}

	.white {
		background-color: #FFFFFF;
	}

	.white:hover { 
		background-color: #FAFEC0;
	}

	.orangeDot {
		color: $orange;
	}

	.blue-light {
    	background-color: $blue-light;
	}

	.blue-lighter {
    	background-color: $blue-lighter;
	}

	.blue-dark {
		background-color: $blue-dark;
	}

	.blue-lightDot {
		color: $blue-light;
	}
}